<div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Quote</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      [(ngModel)]="newQuote.quote"
      name="quote"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Quote Creator</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Katy Aristote"
      [(ngModel)]="newQuote.quoteCreator"
      name="quoteCreator"
    />
  </div>
  <button type="button" class="btn btn-outline-dark right" (click)="addTodo()">
    Add quote
  </button>
</div>
