<div class="container padding">
  <div class="jumbotron">
    <h1 class="display-4">Quotes</h1>
    <app-form (passQuote)="submitQuote($event)"></app-form>
  </div>
  <div
    class="card"
    *ngFor="let quote of quotes; let i = index"
    style="margin-top: 25px"
  >
    <div class="card-body">
      <h5 class="card-title">"{{ quote.quote }}"</h5>
      <app-home-details
        [quote]="quote"
        *ngIf="quote.showDescription"
        (isComplete)="delete($event, i)"
      ></app-home-details>
      <!-- <p class="card-text">{{ quote.quoteCreator }}</p> -->
      <button
        type="button"
        class="btn btn-outline-info "
        (click)="toogleDetails(i)"
      >
        View Author
      </button>
    </div>
  </div>
</div>
